.card-content {
    padding: 2rem 15rem;
}

.produk {
    padding: 2rem 2rem;
}
.paw {
    padding-top: 2.5rem;
    padding-left: 10px;
}

.text {
    padding-left: 10px;
}

.warna {
    color: blue;
}